@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@100;300;500;700&display=swap");

* {
  font-family: "Oswald", sans-serif;
  margin: 0px;
}

@media only screen and (max-width: 700px) {
  nav {
    flex-direction: column;
  }
  .projects {
    flex-direction: column;
  }
}

body {
  margin: 0;
  padding: 0;
  background: #f9f9fb;
  cursor: default;
}

#wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.heavy-font {
  font-weight: 700;
}

nav {
  border-bottom: black solid 1px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 25px;
  margin-right: 25px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: auto;
  margin-top: 5px;
}

footer span {
  flex: 1;
  justify-content: center;
  text-align: center;
  font-size: 70%;
  font-weight: 100;
  opacity: 0.7;
  padding: 5px;
  color: #b1b4b7;
  font-family: "pt-sans", sans-serif;
  cursor: default;
}

#name {
  justify-content: center;
  cursor: default;
}

#icons {
  text-align: right;
  justify-content: center;
}

#pages {
  font-size: 150%;
  text-align: center;
  justify-content: center;
}

nav ul {
  flex: 1;
  margin: 0;
  padding: 10px;
  list-style-type: none;
  display: inline-flex;
}

nav ul li {
  display: inline;
}

nav ul li a {
  text-decoration: none;
  color: black;
}

nav ul li a:hover {
  opacity: 0.7;
}

.margin-r {
  margin-right: 25px;
}

.margin-sm {
  margin-right: 10px;
}

.active {
  color: rgb(29, 151, 233);
}

.fa {
  padding: 5px;
  text-align: center;
  text-decoration: none;
  margin-right: 10px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-github {
  background: #000;
  color: white;
}

.round {
  border-radius: 50%;
}

.big-text {
  font-size: 150%;
}

img {
  max-width: 100%;
}

.projects {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  height: 80vh;
}

.project-card {
  width: 150px;
  height: 200px;
  margin-bottom: auto;
  margin-top: 30px;
  margin-left: 30px;
  flex: 0 0 auto;
  perspective: 500px;
}

.project-card a {
  text-decoration: none;
  color: black;
}

.card-content {
  transition: transform 1s;
  transform-style: preserve-3d;
  width: 100%;
  height: 100%;
}

.project-card:hover .card-content {
  transform: rotateY(-180deg);
  transition: transform 0.5s;
}

.front,
.back {
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  position: absolute;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.front {
  background: url(img/bg.jpg);
}

.back {
  transform: rotateY(-180deg);
  background: #333741;
  justify-content: flex-start;
  text-align: left;
}

.back h1 {
  color: #de6262;
  font-size: 150%;
  font-weight: 700;
  text-align: left;
  margin: 10px;
  margin-bottom: 0px;
}

.buttons {
  margin: auto;
}

.back button {
  width: 55px;
  text-align: center;
  border: none;
  text-decoration: none;
  cursor: pointer;
  font-weight: 700;
  background: #de6262;
  color: #f9f9fb;
  border-radius: 2px;
}

.back button:hover {
  opacity: 0.7;
}

.card-description {
  color: #f9f9fb;
  margin: 10px;
  margin-top: 0px;
  font-family: "pt-sans", sans-serif;
}

.contact-form {
  flex: 1;
}

.card-title {
  text-align: center;
  display: inline-flex;
  flex-direction: column;
  background: white;
  width: 100px;
  margin: auto;
  height: 75px;
  border-radius: 25%;
  padding: 0;
}

.card-title-text {
  width: 100%;
  margin: auto;
}

.top-text {
  font-size: 125%;
  font-weight: 700;
}

.bottom-text {
  color: #909395;
}
